@import "./reset.css";

:root {
    /*Text color*/
    --app-dark-bg2: #1a1d28;
    --app-dark-bg: #67686a;
    --app-white: #fff;
    --app-grey: #838080;
    --app-dark-rose: #f817a2;
    /*Other color for elements*/
    --app-violet-bg: #8000ff;
    --app-rose-bg: #ff0080;
    --app-pink-bg: #ff00ff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                    Containers                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.container {
    background-image: url('../img/back-niveles-bajos.jpeg');
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100dvh;
}

.center {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-game {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200px;
    color: var(--app-ligh-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-header {
    align-items: center;
    flex: 1;
}

.header-title {
    text-align: center;
    flex: 2;
    gap: 20px;
}

.div-count-down {
    text-align: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.div-count-down .count-down {
    text-align: center;
    justify-content: center;
    text-align: center;
}

/*Button to restar the game from the main page*/
.button-new-game {
    font-size: 36px;
    font-weight: 600;
    color: var(--app-violet-bg);
    width: 240px;
    height: 60px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .3) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.button-new-game:hover {
    background-color: var(--app-violet-bg);
    border: 1px solid var(--app-violet-bg);
    color: var(--app-white);
}

h1 {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    color: var(--app-white);
}


h5 {
    font-size: 80px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--app-white);
}


/*------------------------------------------------------------*/
/*                  Show Timer                                */
/*------------------------------------------------------------*/
.count-down {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: var(--app-violet-bg);
    width: 130px;
    height: 130px;
    padding: 20px 10px;
    border-radius: 50%;
}

#seconds-display {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--app-white);
}

#sec {
    font-size: 55px;
    font-weight: 400;
    background-color: var(--app-violet-bg);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.body-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    gap: 10px;
}

.hits {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    color: var(--app-white);
}


h2 {
    font-size: 60px;
    text-align: center;
    color: var(--app-white);
    padding: 5px 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 6px;
}

h4 {
    margin-top: 20px;
    width: 220px;
    font-size: 45px;
    text-align: center;
    border-radius: 6px;
    font-weight: 300;
    color: var(--app-white);
    padding: 10px 15px;
    background-color: var(--app-rose-bg);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.div-word-to-type {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    height: 60px;
    border-radius: 6px;
}

.div-word-to-type h2 {
    background-color: var(--app-violet-bg);
}

.footer-game {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.word-to-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.container-form {
    margin-top: 20px;
    background-color: var(--app-white);
    border-radius: 6px;
    width: 30%;
    height: max-content;
    border-radius: 6px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                     Main                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.header-game h2 {
    color: var(--app-violet-bg);
    font-size: 35px;
    text-align: center;
    font-weight: 500;
}

h3 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    padding: 10px 10px;
    color: var(--app-white);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                   Form                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
input[type="text"] {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Aling center */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Font size & color*/
    font-size: 60px;
    font-weight: 400;
    color: var(--app-dark-rose);
    margin: 15px 15px;
    padding: 10px 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--app-pink-bg);
    background-color: var(--app-white);
}

input[type="text"]::placeholder {
    border-color: var(--app-rose-bg);
}

input[type="text"]:focus {
    border-color: var(--app-pink-bg);
}

/*------------------------------------------------------------*/
/*                             Modal                          */
/*------------------------------------------------------------*/
h3 {
    font-size: 26px;
    color: var(--app-blue);
}

.modal-start {
    display: none;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/background2.jpeg');
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    z-index: 1;
}

.modal-start-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--app-pink-bg);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    color: var(--app-lessdark-bg);
    border-radius: 6px;
}

.modal-win {
    display: none;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/back.jpeg');
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    z-index: 1;
}

.modal-win-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--app-pink-bg);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    color: var(--app-lessdark-bg);
    border-radius: 6px;
}

.modal-over {
    display: none;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/background.jpeg');
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    z-index: 1;
}

.modal-over-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--app-pink-bg);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    color: var(--app-lessdark-bg);
    border-radius: 6px;
}

.start-button {
    font-size: 32px;
    font-weight: 600;
    color: var(--app-pink-bg);
    width: 200px;
    height: 60px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .3) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.start-button:hover {
    background-color: var(--app-rose-bg);
    border: 1px solid var(--app-rose-bg);
    color: var(--app-white);
}

.restart-win {
    font-size: 32px;
    font-weight: 600;
    color: var(--app-pink-bg);
    width: 220px;
    height: 60px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .3) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.restart-win:hover {
    background-color: var(--app-rose-bg);
    border: 1px solid var(--app-rose-bg);
    color: var(--app-white);
}

.feedback {
    position: relative;
    top: 0%;
    left: 0%;
    /*outline: 2px dashed rgb(205, 33, 148);*/
    line-height: 46px;
    color: var(--app-rose-bg);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 28px;
}

/*Title*/
.h5 {
    font-size: 80px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--app-white);
}

.performance1 {
    font-size: 28px;
    color: white;
    color: var(--app-violet-bg);
}

.performance1 span {
    font-weight: bold;
    color: white;
}

.performance2 {
    font-size: 36px;
    color: white;
    color: var(--app-violet-bg);
    background-color: #fff;
}

.performance2 span {
    font-size: 28px;
    color: white;
    color: var(--app-violet-bg);
}

.restart-game-over {
    font-size: 32px;
    font-weight: 600;
    color: var(--app-pink-bg);
    width: 220px;
    height: 60px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .3) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.restart-game-over:hover {
    background-color: var(--app-rose-bg);
    border: 1px solid var(--app-rose-bg);
    color: var(--app-white);
}