@import "./reset.css";

:root {
    /*Text color*/
    --app-dark-bg2: #1a1d28;
    --app-dark-bg: #67686a;
    --app-white: #fff;
    --app-grey: #838080;
    --app-hover-btn: #e7b3d3;
    --app-dark-rose: #f817a2;
    /*Other color for elements*/
    --app-violet-bg2: #18022e;
    --app-violet-bg: #8000ff;
    --app-violet-btn: #c192f0;
    --app-rose-bg: #ff0080;
    --app-pink-bg: #ff00ff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                    Containers                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.container {
    background-image: url('../img/back-niveles-bajos.jpeg');
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100dvh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                    Header Game                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.header-game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 150px;
    color: var(--app-ligh-text);
}

.button-header {
    flex: 1;
}

.header-title {
    flex: 2;
}

.div-count-down {
    flex: 1;
}

/*   Button Restart Game  in the page to play*/
.button-new-game {
    font-size: 36px;
    font-weight: 600;
    color: var(--app-violet-bg);
    width: 225px;
    height: 60px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .3) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.button-new-game:hover {
    background-color: var(--app-hover-btn);
    border: 1px solid var(--app-hover-btn);
    color: var(--app-white);
}


h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: var(--app-white);
}

#seconds-display {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: var(--app-violet-bg);
    padding: 20px 10px;
    border-radius: 50%;
    font-size: 55px;
    font-weight: 400;
    color: var(--app-white);
}


h5 {
    font-size: 80px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--app-white);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                   Body Game                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.body-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

/*Hits*/
h4 {
    margin: 20px 0x 20px 0px;
    width: 195px;
    font-size: 40px;
    text-align: center;
    border-radius: 6px;
    font-weight: 300;
    color: var(--app-white);
    background-color: var(--app-rose-bg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                    Body game                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.div-word-to-type {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px 0x 20px 0px;
    width: 100%;
    height: 200px;
}

.div-word-to-type h2 {
    width: 100%;
    color: var(--app-violet-bg);
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-size: 90px;
    font-weight: 600;
    user-select: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                  Footer game                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.footer-game {
    margin: 20px 0x 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                   Form                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form {
    width: 500px;
}

input[type="text"] {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Aling center */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Font size & color*/
    font-size: 60px;
    font-weight: 400;
    color: var(--app-dark-rose);
    padding: 5px 10px 5px 10px;
    border: 2px solid var(--app-dark-rose);
    border-radius: 8px;
    background-color: var(--app-white);
}

input[type="text"]::placeholder {
    font-size: 50px;
    color: var(--app-dark-rose);
}

input[type="text"]:focus {
    border-color: var(--app-pink-bg);
}

/*------------------------------------------------------------*/
/*                             Modal                          */
/*------------------------------------------------------------*/
h3 {
    font-size: 26px;
    color: var(--app-blue);
}

.modal-start {
    display: none;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/background2.jpeg');
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    z-index: 1;
}

.modal-start-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--app-pink-bg);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: var(--app-lessdark-bg);
    border-radius: 6px;
}

.modal-win {
    display: none;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/back.jpeg');
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    z-index: 1;
}

.modal-win-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--app-pink-bg);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: var(--app-lessdark-bg);
    border-radius: 6px;
}

.modal-over {
    display: none;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/background.jpeg');
    background-blend-mode: hard-light;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
    z-index: 1;
}

.modal-over-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--app-pink-bg);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: var(--app-lessdark-bg);
    border-radius: 6px;
}

.start-button {
    font-size: 32px;
    font-weight: 600;
    color: var(--app-pink-bg);
    width: 225px;
    height: 60px;
    margin-right: 90px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .6) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.start-button:hover {
    background-color: var(--app-hover-btn);
    border: 1px solid var(--app-hover-btn);
    color: var(--app-white);
}

.restart-win {
    font-size: 32px;
    font-weight: 600;
    color: var(--app-pink-bg);
    width: 225px;
    height: 60px;
    margin-right: 90px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .6) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.restart-win:hover {
    background-color: var(--app-hover-btn);
    border: 1px solid var(--app-hover-btn);
    color: var(--app-white);
}

.feedback {
    position: relative;
    top: 0%;
    left: 0%;
    line-height: 40px;
    color: var(--app-white);
    font-size: 28px;
}

/*Title*/
.h5 {
    font-size: 80px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--app-white);
}

.performance1 {
    font-size: 36px;
    color: var(--app-white);
}

.performance2 {
    font-size: 28px;
    color: var(--app-pink-bg);
    border-radius: 6px;
}

.performance1 span {
    font-weight: bold;
    color: white;
}

.performance2 span {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}

.performance3 {
    font-size: 36px;
    color: var(--app-white);
}

.performance4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    color: var(--app-pink-bg);
    border-radius: 6px;
}

.performance3 span {
    font-size: 28px;
    color: var(--app-violet-bg);
}

.performance4 span {
    font-size: 28px;
    color: white;
    color: var(--app-violet-bg);
}

.restart-game-over {
    font-size: 32px;
    font-weight: 600;
    color: var(--app-pink-bg);
    width: 250px;
    height: 60px;
    margin-right: 90px;
    padding: 0 25px;
    border-radius: 6px;
    border: 1px solid var(--app-white);
    box-shadow: rgba(0, 0, 0, .3) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.restart-game-over:hover {
    background-color: var(--app-hover-btn);
    border: 1px solid var(--app-hover-btn);
    color: var(--app-white);
}

.sub-title {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--app-white);
}

.buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-start-content,
.modal-win-content,
.modal-over-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*------------------------------------------------------------*/
/*                         Dialog                             */
/*------------------------------------------------------------*/
.btn-dialog {
    font-size: 32px;
    font-weight: 600;
    color: var(--app-white);
    width: 250px;
    height: 60px;
    padding: 0 25px;
    border-radius: 6px;
    background-color: var(--app-violet-btn);
    border: 1px solid var(--app-violet-btn);
    box-shadow: rgba(0, 0, 0, .3) 0px 26px 30px -10px, rgba(0, 0, 0, .3) 0px 16px 10px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.btn-dialog:hover {
    background-color: var(--app-hover-btn);
    border: 1px solid var(--app-hover-btn);
    color: var(--app-white);
}

dialog {
    margin: auto;
    width: 450px;
    height: max-content;
    padding: 19px 25px 24px 25px;
    border-style: none;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.2);
    animation: 0.25s linear anim;
}

dialog::backdrop {
    background-color: rgb(25, 24, 36 / 0.2);
    backdrop-filter: blur(5px);
}


.list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-content: center;
    place-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.title-score-board {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    align-items: center;
    justify-content: center;
    color: var(--app-pink-bg)
}

.score-info {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 50;
    line-height: 1.8;
}

.close-modal-dialog {
    margin-top: 20px;
    size: 40px;
    font-weight: 700px;
    color: blueviolet;
    cursor: pointer;
}

.row-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    justify-content: center;
    text-align: center;
}

.close-modal-dia:hover {
    text-decoration: underline;
}

@keyframes anim {
    from {
        opacity: 0;
        translate: 0 -6px;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}